.header {
    display: inline-grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    width: 100%;
    background: black;
    color: white;
}

.center {
    text-align: center
}

.left {
    padding-left: 10px;
    font-weight: bold;
}